<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Task Generator</title>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <div id="main">
        <h1>Let's find something for you to do ✌️</h1>
        <form id="options" action="/" method="post">
            <select name="type" id="randomType" class="option">
                <option value="">Random Type</option>
                <option value="education">Education</option>
                <option value="charity">Charity</option>
                <option value="recreational">Recreational</option>
                <option value="relxational">Relxational</option>
                <option value="busywork">Busywork</option>
                <option value="social">Social</option>
                <option value="diy">DIY</option>
                <option value="music">Music</option>
            </select>
            <select name="people" id="participants" class="option">
                <option value="">any</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <button type="submit" class="option go">GO</button>
        </form>
        <div id="answer">
            <% if(locals.data){%>
                <h3>
                    <%= data.activity %>
                </h3>
                <div id="data">
                    <h4 id="activity">
                        Activity: <%= data.type%>
                    </h4>
                    <h4 id="count">
                        Participants: <%= data.participants%>
                    </h4>
                </div>
                <% }else{%>
                    <h3 id="error">No activity that matches your criteria </h3>
                    <%}%>
        </div>
    </div>
</body>

</html>